<h1>Step 1: Choose your Model and color</h1>
Model:
<select #typeModel (change)="changeModel(typeModel.value)">
  <option [value]="0">Selecte option...</option>
  @for( item of models(); track item.code){
  <option [value]="item.code">
    {{ item.description }}
  </option>
  }
</select>
@if(configuratorService.currentCar()){ Color:
<select
  #typeColor
  (change)="this.configuratorService.currentColor.set(typeColor.value)"
>
  @for( item of colors(); track item.code){
  <option [value]="item.code">{{ item.description }}</option>
  }
</select>
} @if (configuratorService.currentImage()) {
<div>
  <img [src]="configuratorService.currentImage()" alt="" />
</div>
}
