<div class="container">
  <form>
    <fieldset>
      <legend>Filters</legend>
      <label for="title">Title</label>
      <input
        #filterTitle
        (input)="filter(filterTitle.value, filterYear.value)"
        type="text"
        name="title"
      />
      <label for="releaseDate">Release year</label>
      <input
        #filterYear
        type="number"
        (input)="filter(filterTitle.value, filterYear.value)"
        name="releaseDate"
      />
    </fieldset>
  </form>
  @for(movie of movies$ | async; track movie.id) {
  <app-movie-item
    [movie]="movie"
    appHighlight
    [isFavorite]="favoritesService.isFavorite(movie)()"
    (toggleFavorite)="favoritesService.toggleFavorite(movie)"
  />
  }
</div>
